@using CarTrader.Models
@using CarTrader.Data

@model List<User>

<h2>Users list</h2>

<div id="user-list" class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th style="width: 5%;">#</th>
                <th style="width: 20%;">Email</th>
                <th style="width: 20%;"></th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 0;
            }
            @foreach (var user in Model.Where(u => !u.IsBlocked))
            {
                <tr>
                    <td style="width: 5%;">@(counter + 1)</td>
                    <td style="width: 20%;" class="text-truncate">@user.Email</td>
                    <td>
                        <form method="post" action="@Url.Action("BlockUser", "Admin")">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal">Block</button>
                        </form>
                    </td>
                </tr>
                counter++;
            }
        </tbody>
    </table>
</div>



<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation of blocking.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to block this user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="confirmBlockButton" type="button" class="btn btn-danger">Block</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#user-list button').on('click', function () {
                var userId = $(this).closest('form').find('input[name="userId"]').val();
                $('#confirmationModal').modal('show');

                $('#confirmBlockButton').on('click', function () {
                    $('input[name="userId"]').val(userId);
                    $('form[action="@Url.Action("BlockUser", "Admin")"]').submit();
                });

                $('#confirmationModal').on('hidden.bs.modal', function () {
                    $('#confirmBlockButton').off('click');
                });
            });

            $('#confirmationModal button[data-dismiss="modal"]').on('click', function () {
                $('#confirmationModal').modal('hide');
            });
        });
    </script>
}