@using CarTrader.Models
@using CarTrader.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = ViewBag.car.Make + " " + ViewBag.car.Model;
}

<div>
    <a class="float-end btn btn-secondary" asp-action="Index">Back to List</a>
</div>
<div class="row">
    <div class="col-12 col-md-7 text-center">
        <img class="img-thumbnail" src="@("/img/" + ViewBag.car.Image)" alt="Card image cap">
    </div>
    <div class="col-12 col-md-5 mt-2 d-flex">
        <div>
            <p class="h4">@(ViewBag.car.Make) @(ViewBag.car.Model)</p>
            <p class="h5">$@(ViewBag.car.Price)</p>
            <p>@(ViewBag.car.Year)</p>
            <hr />
            <p>Contact</p>
            @if (SignInManager.IsSignedIn(User))
            {
                <p>@(ViewBag.car.User.Email)</p>
            } else
            {
                <div class="alert alert-warning">You must login to view this information</div>
            }
        </div>
    </div>
</div>
